logging:
  output: stdout
  level: info
  include_source: true
  file:
    dir: "./logs"
    file_name: "app.log"
    rotation:
      keep_days: 7
      max_num: 30
      max_size_mb: 256

profiling:
  enabled: true
  addr: "0.0.0.0:6060"
  cpu_profile_freq_hz: 100

metrics:
  addr: "0.0.0.0:9898"
  poll_interval_secs: 5

server:
  manager_addr: "0.0.0.0:8080"
