[package]
name = "storage"
version = "0.0.1"
edition = "2021"

[dependencies]
redb = "1"
serde = { version = "1", features = ["derive"] }
serde_json = "1"
bincode = "1"
thiserror = "1"

[dev-dependencies]
tempfile = "3"
